h1 {
  font-size: xx-large;
  color: black;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container {
  max-width: 600px;
  margin: auto;
  padding: 30px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
small {
  display: block;
  margin-top: 10px;
  font-family: sans-serif;
}
.name-row {
  display: flex;
  gap: 50px;
}
.name-row div {
  display: flex;
  flex-direction: column;
}
label {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 18px;
}
input {
  height: 25px;
  width: 220px;
  padding: 5px;
  font-size: 16px;
  border-color: black;
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  border: 1px solid #d1d5db;
}
textarea {
  height: 120px;
  width: 100%;
  border-radius: 8px;
  padding: 12px;
  /* border: 1px solid blue;  chaning line coloe while on click */
  border: 1px solid #d1d5db;
}
button {
  font-family: sans-serif;
  height: 55px;
  width: 200px;

  color: white;
  font-size: 18px;
  border-radius: 20px;
  margin: 0 auto;
  display: block;
  background-color: #2563eb;
  border: none;
}
/* input {
  border: 1px solid blue; 
}   border: 1px solid blue;  chaning line coloe while on click*/
body {
  background-color: #041735;
}
hr {
  border: 1px solid #d1d5db;
}

h1 {
  color: #1f2937;
  letter-spacing: 1px;
}
button:hover {
  background-color: #0f0f0f;
  cursor: pointer;
}
